---
- name: ntp | Debian | Install the required packages in Debian derivatives
  apt:
    name: ntp
    update_cache: yes
    cache_valid_time: 86400
    state: "{{ ntp_pkg_state }}"
  when: ansible_os_family == 'Debian'
  register: task_result
  until: task_result is success
  retries: 10
  delay: 2
  tags:
    - package
    - ntp
