# {{ ansible_managed }}

# List of NTP servers to use.
{% for server in chrony_config_server %}
server {{ server }} iburst
{% endfor %}

# This directive specify the location of the file containing ID/key pairs for
# NTP authentication.
keyfile {{ chrony_config_keyfile }}

# This directive specify the file into which chronyd will store the rate
# information.
driftfile {{ chrony_config_driftfile }}

# Uncomment the following line to turn logging on.
#log tracking measurements statistics

# Log files location.
logdir {{chrony_config_logdir }}

# Stop bad estimates upsetting machine clock.
maxupdateskew 100.0

# This directive enables kernel synchronisation (every 11 minutes) of the
# real-time clock. Note that it can't be used along with the 'rtcfile' directive.
rtcsync

# Step the system clock instead of slewing it if the adjustment is larger than
# one second, but only in the first three clock updates.
makestep 1 3

# Extra options
{% for k, v in chrony_config_extra_options.items() %}
{{ k }} {{ v }}
{% endfor %}
